<div class="custom-container p-5">

    <button type="button" class="btn btn-lg my-2" (click)="closeTab()">X</button>

    <div class="mb-4 rounded overflow-hidden">
        <img class="w-100" [src]="product.imageURL">
    </div>

    <h2 class="mb-4">
        {{ product.name }}
    </h2>

    <div class="mb-4 categories d-flex align-center gap-2">
        <span class="px-2 py-1 rounded text-light" title="">
            {{ product.gender }}
        </span>
        
        <span class="px-2 py-1 rounded text-light">
            {{ product.category }}
        </span>
        
        <span class="px-2 py-1 rounded text-light">
            {{ product.brand }}
        </span>
    </div>


    <section class="colors">
        <h3>Available Colors</h3> 
       
        <div class="d-flex gap-2">
            @for(color of product.color; track $index){
                <span [title]="color"
                [ngStyle]="{background: color}"
                >
                    
                </span>   
            }

        
        </div>
    </section>

</div>