<app-child />

<p appTest>Hello World</p>

<p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium maxime eum dicta beatae tempora maiores, aliquam asperiores ipsa. Mollitia eius assumenda atque fuga. Neque similique quis velit saepe? Veniam, aliquid?</p>


<br><br><br><br>


<p appDirectiveListen >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium maxime eum dicta beatae tempora maiores, aliquam asperiores ipsa. Mollitia eius assumenda atque fuga. Neque similique quis velit saepe? Veniam, aliquid?</p>


